// FONT FAMILY LINK
// @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// FONT FAMILY
$fredoka: 'Fredoka', sans-serif;
$roboto: 'Roboto', sans-serif;

// FONT SIZE
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-30: 30px;
$fs-36: 36px;
$fs-48: 48px;
$fs-60: 60px;

// FONT WEIGHT
$fw-1: 100;
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;
$fw-9: 900;

// BG COLOR
$bg-white: #fff;
$bg-slate: #334155;

// TEXT COLOR
$txt-white: #fff;
$txt-slate: #334155;

// COLOR
$color-white: #fff;
$color-slate: #334155;